<title>Spacesurf</title>
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
<link
 href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
	.date{
		font-size: 10px;
		color: rgb(212, 212, 212);
	}
	.chip{
		background-color: #ffffff;
	}
	p,h1, h2, h3, h4, h5, h6{
		font-family: Rubik;
	}
	a{
		font-family: Chakra Petch;
	}
  .pa{
    color: #878787;
  }
	.card-image{
		box-shadow: 0;
	}
    body{
        background-color: black;
    }
    .w3-bg{
        background-color: #1d1d1d;
        border-radius: 6px;
    }
.links{
    color:#ea00ff;
}
.w3-content{
  padding: 13px;
}
.heading{
  font-family: Rubik;
}
.card{
  margin-bottom: 2px;
  margin-right: 0px;
  margin-left: 0px;
}
          
         .btn-grad {background-image: linear-gradient(to right, #c300ff 0%, #ff00d4  51%, #8c00ff  100%)}
         .btn-grad {
            margin: 10px;
            padding: 8px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 5px;
            display: block;
          }
          .btn-grad:hover {
            background-position: right center;
            color: rgb(255, 255, 255);
            text-decoration: none;
          }
          .btn-grad1 {background-image: linear-gradient(to right, #e800ff 0%, #6c00ff 51%, #e800ff 100%)}
         .btn-grad1 {
            margin: 10px;
            width: 200px;
            padding: 8px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 5px;
            display: block;
          }
          .btn-grad1:hover {
            background-position: right center;
            color: rgb(255, 255, 255);
            text-decoration: none;
          }
          .w3-center{
            border: none;
          }
          .btn-grad2 {
		background-image: linear-gradient(to right, #7200b7 0%, #220050 51%, #7200b7 100%)
	}
	.btn-grad2 {
		text-align: center;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;
		margin: 4px 2px;
		border-radius: 5px;
    font-size: 8px;
	}
  .date{
		font-size: 10px;
		color: rgb(212, 212, 212);
	}
	.btn-grad2:hover {
		background-position: right center;
		/* change the direction of the change here */
		color: #fff;
		text-decoration: none;
	}
	.nomargin{
		margin: 3px;
	}
</style>

<a class="w3-left btn-grad" href="/stories/add">Create Post</a>
<a class="w3-right btn-grad" href="/dashboard">Profile</a>
<a class="w3-right btn-grad" href="/auth/logout">Logout</a>


		<header class="w3-container w3-center w3-text-white w3-margin-top w3-margin-bottom">

    <h1 class="w3-xxlarge maint okok"></b>Space sounds interesting, Life is too</b></h1>
    <h5 class="okok w3-margin-top">The space within humans!</h5>
		<p class="okok w3-padding maint">Explore and discover in Spaces</p>

    <button class="w3-center w3-black"><a class="w3-center btn-grad1" href="#articles">Read more</a></button>
  </header>


<div class="row" id="articles">
    {{#each stories}}
    <div class="col s12 ">
        <div class="card w3-bg nomargin" data-aos="fade-up">
            <div class="w3-content left-align w3-text-white">
				
                <a href="/stories/{{_id}}"><h5 class="heading">{{title}}</h5></a>
                <p class="pa">{{stripTags (truncate body 60)}}</p>

                <div class="date w3-row">
                
                <a href="/stories/user/{{user._id}}">
                <p>{{user.displayName}} on {{formatDate createdAt 'DD MM YY'}}</p>
                
                </a>

                
                <!--<a href="/stories/{{_id}}" class="date w3-padding-16">
                <button class="btn-grad2 w3-center w3-padding">Read more</button>
                </a>-->

                
                </div>
                
            </div>
        </div>
    </div>
    {{else}}
    <p class="w3-padding w3-text-white">No posts to display</p>
    {{/each}}
</div>